<!DOCTYPE html>
<html>
<head>
	<title>Shop-Online</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/script.js"></script>
	<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/style.css">
	<!--- sass styling --->
	<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/scss/homepageStyles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">



</head>
<body>
	
	<button onclick="topFunction()" id="myBtn" title="Go to top" width="35px" height="35px" align="right">⇑</button>
	
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-main" style="background-color:#9CC9C9;padding-bottom: 3%;padding-top: 3%;">
	  		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<a class="navbar-brand" href="#" style="padding-left: 12vw; font-size: 40px;font-family: Oswald;color:white ;">We Welcome {{name}} <br> to Brick oven Pizza - Menu</a>
	  		<div class="collapse navbar-collapse" id="navbarNav" style="padding-left:25vw; " >
	    		<ul class="navbar-nav nav-ul" style="list-style: none;background-color:#DA5827;" >
	      			<li class="nav-item"  >
	        			<a class="nav-link" style="color:white; list-style: none;font-size: 20px;background-color:#DA5827; border-color: black;border-width: medium;font-family: Oswald;" href="#">ONGOING ORDER<span class="sr-only">(current)</span></a>
	      			</li> 
			      <li class="nav-item" >
			        	<a class="nav-link" style="color:white;font-size: 20px;list-style: none;font-size: 20px;background-color: #DA5827; border-color: black;font-family: Oswald;" href="#cartmain">CART</a>
			      </li>
			      <li class="nav-item" >
			      	  <a class="nav-link" style="color:white;font-size: 20px;list-style: none;font-size: 20px;background-color: #DA5827; border-color: black;font-family: Oswald;" href="#about">PAST ORDERS</a>
				  </li>
				  <li class="nav-item" >
					<a class="nav-link" style="color:white;font-size: 20px;list-style: none;font-size: 20px;background-color: #DA5827; border-color: black;font-family: Oswald;" href="#about">RECOMMENDED</a>
			  </li>
                <li class="nav-item" >
					<a class="nav-link" style="color:white;font-size: 20px;list-style: none;font-size: 20px;background-color: #DA5827; border-color: black;font-family: Oswald;" href='/logout'>LOGOUT</a>
			  </li>
	    		</ul>
	  		</div>
		</nav>
		<div id="about" class="container-fluid">	<!-- This div should contain Information about your company -->
	
			<div class="row" id="about-row">
				<div class="col-md-12" align="center" style="font-size: 30px; font-family: Oswald;">
                    ONGOING ORDER
				</div>
			</div>
		
		</div>
	<div class="container-fluid" id="maincontainer">
	<h1 style="font-family:'Courier New', Courier, monospace;"><u>Brick Oven Pizza</u></h1>
    <h2 style="font-family:'Courier New', Courier, monospace;"><u>Order Details</u></h2>
  <table style="font-family:'Courier New', Courier, monospace;">
      <tr>
        <th ><b>PRODUCT</b></th>
        <th><b>QUANTITY</b></th>
        <th><b>REMARKS</b></th>
      </tr>
      <tr>
        <td>:{{res1}}</td>
        <td>:{{res2}}</td>
        <td>:{{res3}}</td>
      </tr>
      <tr>
        <td>:{{res4}}</td>
        <td>:{{res5}}</td>
        <td>:{{res6}}</td>
      </tr>
      <tr>
        <td>:{{res7}}</td>
        <td>:{{res8}}</td>
        <td>:{{res9}}</td>
      </tr>

    </table>
    <br><br>
    
<div id="cartmain" class="container-fluid">
	<div class="container" id="cart">
		<div class="row">
			<div class="col-md-12" id="cart-heading" align="center">
				Order Accepted
			</div>
		</div>
		<hr>
		<div class="row" id="table-row">
            <div>
                 <p style="font-family: Oswald; ">ALLOTED TOKEN NUMBER: {{ res10 }} </p>
                <p style="font-family: Oswald;">ESTIMATED TIME: {{res11}} </p>
            </div>

		</div>
	</div>


	
	


</body>
</html>