
    <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="job_details.html"><img src="{{file}}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="job_details.html"><h4>{{position}}</h4></a>
                                    <ul>
                                        <li>{{description}}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{location}}</li>
                                        <li>More info contact:{{email}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="job_details.html">Full Time</a>
                                <span>Apply by date:{{date}}</span>
                                <br>
                                <br>
                                <form method="POST" action="/deletejob"> 
                                    <button style="color:black;"> Delete</button>
                                </form>
                            </div>
                        </div>

