  <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="job_details.html"><img src="{{file}}" alt=""></a>
                                </div>
                                <div >
                                    <a href="job_details.html"><h4>EVENT TITLE:{{eventname}}</h4></a>
                                    <ul>
                                        <li>{{description}}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{location}}</li>
                                        <li>Contact info:{{contact}}</li>
                                      
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="job_details.html">TIME:{{time}}</a>
                                <span>  DATE:{{date}}</span>
                                     <form method="POST" action="/deleteevent"> 
                                    <button style="color:black;"> Delete</button>
                                </form>
                            </div>
                        </div>

